// settings.scss
@forward "vuetify/settings" with (
  $button-height: 40px,
  $typography: (
    "h1": (
      "size": 72px,
      "line-height": 1.2,
    ),
    "h2": (
      "size": 48px,
      "line-height": 1.2,
    ),
    "h3": (
      "size": 24px,
      "line-height": 1.2,
    ),
    "h4": (
      "size": 16px,
      "line-height": 1.2,
    ),
    "h5": (
      "size": 16px,
      "line-height": 1.2,
    ),
    "h6": (
      "size": 12px,
      "line-height": 1.2,
    ),
  ),
  $body-font-family: Poppins
);
