$primary: #31CB00;
$secondary: #FD651F;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: "poppins";
}
/* OVERRIDES */
.v-btn{
    &.nav-btn{
    }
    &--active{        
        &.nav-btn {
            color: $primary;
            .v-btn__overlay{
                display: none;
                }
        }
    }
}
// .text{
//     &-h1{
//         font-size: 72px !important;
//     }
// }
// .text-md-h1{
//     font-size: 72px !important;
// }
/* Start Framework */
.z-12{
    z-index: 12;
}
.pb-25{
    padding-bottom: 100px !important;
}
/* End Framework */

/* Start Main style */
.drawing{
    position: relative;
    &__item{
        position: absolute;
        &--dots{
            &-1{
                top: 350px;
                right: 84px
            }
            &-2{
                top: 238px;
                right: 435px;
            }
        }
        &--lines{
            top: -108px;
            right: -170.58px
        }
        &--photo{
            top: 257px;
            right: 113px;
            width: 481px;
            height: 481px;
            background-color: #BAEFC6;
            transform: rotate(-105deg);
            border-radius: 80px;
            overflow: hidden;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        }
        &--heart{
            right: 95px;
            top: 151px;
            filter: blur(1px);
        }
        &--overlay{
            right: -101px;
            top: -99px;
            width: 576.1px;
            height: 418.78px;
        }
    }
}
.rounded-pill.v-input .v-input__slot {
    border-radius: 100px;
}
// .exercise-card--active{
//     box-shadow: 0px 50px 80px rgba(51, 195, 83, 0.2);

// }
.exercise-card{
    border: 1px solid rgba(255, 240, 218, 1) !important;
    border-radius: 50px !important;
    &--active{
        box-shadow: 0px 50px 80px rgba(51, 195, 83, 0.2) !important;
    }
}
.meals-content{
    height: 521px;
    background: linear-gradient(180deg, rgba(8, 43, 16, 0) 38.02%, #082B10 89.06%), url(../public/potatos.jpg) !important;
    border-radius: 50px !important;
}
.meals-head{
    text-align: center;
    margin-top: 120px;
}
.meals-btn{
    font-size: 24px !important;
    margin-top: 390px;
    color: #FFFFFF !important;
    text-decoration: underline !important;
}
.latest{
    margin-top: 245px !important;
    background: linear-gradient(180deg, #DEFCE4 0%, rgba(222, 252, 228, 0.5) 100%);
}
/* End Main style */


/* login page style start */
.login-page{
        background: linear-gradient(180deg, rgba(8, 43, 16, 0) 38.02%, #082B10 89.06%), url(../public/potatos.jpg) !important;
        // background: rgba(2, 9, 20, 0.54);
        border-radius: 0px 40px 40px 0px;
}
/* login page style end */

/* exercise page style start */

/* exercise page style end */
